.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  min-height: 90vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

#vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
  height: 90vh;
  width: 50%;
  padding-bottom: 8%;
}

#information {
  display: flex;
  height: 90vh;
  width: 50%;
}

.lastNodeVoted{
  font-size: calc(4px + 1vmin);
  height: 100%;
  width: 60%;
  text-align: left;
  padding: 50px 0;
  display: inline-block;
  float: left;
}

#lastNodeVoted {
  display: none;
}

.infoSigner{
  font-size: calc(4px + 1vmin);
  height: 100%;
  max-height: 100%;
  width: 40%;
  padding: 50px 0;
  display: inline-block;
  float: left;
  text-align: left;
}

#infoSigner {
  display: none;
  padding-bottom: 30%;
}

h3 {
  text-align: center;
  padding-bottom: 10px;
}

h6 {
  padding-left: 25px;
}

#text {
  display: inline-block;
  text-decoration: underline;
  color: #CBC9C7;
}

.infoMenu {
  background-color: #282c34;
  min-height: 10vh;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  text-align: right;
  padding-right: 50%;
}
#demo-controlled-open-select-label, #demo-controlled-open-select {
  color: #F8F8FF;
}